# Sets

- unordered collections of unique elements
- multiple instances of the same objects are not allowed

In [1]:
myset = set()

In [2]:
myset #empty set

set()

In [3]:
myset.add(1) # add number 1

In [5]:
myset # looks like dictionary but no key value pairs

{1}

In [8]:
myset.add(2)

In [9]:
myset

{1, 2}

In [10]:
myset.add(2)

In [11]:
myset # shows 2 not the second time

{1, 2}

In [12]:
milist = [1, 1, 2, 2, 2, 3, 3, 3, 3]

In [13]:
set(milist)

{1, 2, 3}

In [14]:
mystring = "miiissiissiippii"

In [15]:
set(mystring)

{'i', 'm', 'p', 's'}

In [16]:
mylist = [1, 1, 2, 2, 3] # also works on lists!

In [17]:
set(mylist)

{1, 2, 3}